BOT_TOKEN=...

REPORT_CHAT_ID=-100...
ERROR_CHAT_ID=-100...

ADMINS=111111 # divide by "|"
SELLER_ADMIN=username
SUPPORT_ADMIN=username

DB_HOST=localhost
DB_NAME=mydatabase
DB_USER=root
DB_PASS=pass

LOG_LEVEL=INFO

MAX_NAME_LENGTH=100

DEFAULT_CID_LIMIT=2
MAX_CID_LENGTH=30
MIN_CID_LENGTH=5

HEALTH_PORT=12564
BOT_HEALTH_PORT=12564
BASE_ADDRESS=/health

SEND_GM_GN=true
GM_TIME=07:00
GN_TIME=23:00
GM_GROUP_ID=-1002549244625
GM_GROUP_TOPIC_ID=2

AI_URL=http://...
AI_SESSION_ID=123456789
AI_INTERVAL=5

DONATION_LINK="https://daramet.com/Chevalet"
